<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudjibe.broadcastreceivertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name="com.cloudjibe.broadcastreceivertest.TestBCRActivity"
            android:label="Test Broadcast Receiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.cloudjibe.broadcastreceivertest.TestReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="com.cloudjibe.intents.testbc" />
            </intent-filter>
        </receiver>

        <receiver android:name=".TestTimeDelayReceiver">
            <intent-filter>
                <action android:name="com.cloudjibe.intents.testbc"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>